.button {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 24px 40px;
  border-radius: 128px;
  background-color: #01bb16;
  font-family: SF Pro Display;
  font-size: 17px;
  font-weight: 400;
  color: #f5f7fa;
}
